server {
    listen ${PORT};
    server_name localhost;

    # Required for Firebase Auth popup/redirect to work
    add_header Cross-Origin-Opener-Policy "same-origin-allow-popups" always;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }
}
